h1,section{
    text-align:center;
}
a{
    font-size:16px;
    color:black;
    margin-left:5px;
    text-align: justify;
    text-decoration: none;
}
p{
    display: inline;
    font-size:16px;
    text-align: justify;
    margin-left: 40px;
}
input#btnSubmit{
    margin-right: 106px;    
}
.bordesBoton{
    background-color: rgb(0, 140, 255);
    padding: 8px;
    border-radius:10px;
    color:aliceblue;
}